.page-header

	h1 Edit Pizza Preset
	
	p.lead From here you can edit an existing pizza product to show up in the ordering system and throughout the site.

= render(:partial => 'admins/pizza_presets/form')