.page-header

	h1 Edit Discount code
	
	p.lead From here you can edit an existing Discount code to show up in the ordering system and throughout the site.

= render(:partial => 'admins/discount_codes/form')