.page-header

	h1 Create Discount code
	
	p.lead From here you can create a new Discount code to show up in the ordering system and throughout the site.

= render(:partial => 'admins/discount_codes/form')