<% meta title: "Pizzaiolo | Careers",
     description: "Our Pizzaiolo locations are always on the lookout for great people to join our family.  Apply today!",
     keywords: "Pizzaiolo, Career Opportunities, Resume"
%>
<%
	content_for(:heading) {("become a<br>pizzaiolo").html_safe}
	content_for(:description) {""}
%>

<!-- <section class="">
  <div class="container">
		<%= render(:partial => 'common/title', 
			locals: { title: "become a
			pizzaiolo.", content: "" }
		) %>
	</div>
</section-->

<div class="page-background" style="background-image: url('/assets/new_design/GR19020_Pizzaiolo_Process-4943.jpg'); background-repeat: no-repeat; background-size: cover;"></div>

<div class="container">
	<div class="row careers-content">
		<div class="col-md-12">
			<p class="p-style">Are you passionate about people and great tasting authentic pizza?</p>
			<p class="p-style">At Pizzaiolo we are all about ‘family'.  That means providing a rewarding and challenging environment for our employee ‘family’. Our locations are always on the lookout for passionate people who love great pizza and want to be part of our team.</p>
		</div>
		<div class="col-md-12 send-resume">
			<a class="btn-green" href="mailto:info@pizzaiolo.ca">Send resume</a>
		</div>
	</div>
</div>