<% meta title: "Pizzaiolo | Pizza Delivery Toronto | Pizza Franchise | Take Out Pizza",
     description: "Pizzaiolo Franchise Opportunities. Fresh never frozen pizza sauce, dough, ingredients. Vegan pizza dough, nut free pizza, non gmo pizza, gluten free pizza, wheat free pizza, preservative free pizza, high quality pizza, gourmet pizza Toronto, gourmet pizza catering, pizza delivery Toronto.",
     keywords: "Pizza Franchise"
%>

<div class="body-container min-height">
	<div class="container">
		<div class="row member-feddback">
		<div class="col-md-12 text-center">
			<h3 class="super-header light green text-center">Thank You</h3>
			<p class="regular-p text-center m-t-30 p-style">Thank you for your interest in expanding the Pizzaiolo Family!</p>
		</div>
		</div>
	</div>
</div>
