<% meta title: "Pizzaiolo | Gourmet Pizzeria | Privacy Policy",
     description: "",
     keywords: ""
%>
<%
	content_for(:heading) {("PRIVACY POLICY").html_safe}
	content_for(:description) {""}
%>

<div class="page-background" style="background-image: url('/assets/new_design/GR19020_Pizzaiolo_Process-5439-min.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;}"></div>

<div class="container">
	<div class="row careers-content">
		<div class="col-12 margin-bottom-20">
			<div class="p-style">
				Pizzaiolo Inc. (“Pizzaiolo”, “we”, or “us”) recognizes your right to privacy and is strongly committed to protecting the privacy of all visitors to www.pizzaiolo.ca (the “Website”) and other online forums through which they communicate with us. The intent of this Privacy Policy is to detail our policies and procedures regarding the collection, use and disclosure by Pizzaiolo of Personal Information (as defined below) you choose to share with us.
			</div>
		</div>
		<div class="col-12 col-md-12 sub-points">
			<h3 class="">YOUR CONSENT</h3>
			<p>By using the Website, you consent to the collection, use and disclosure of your Personal Information by Pizzaiolo in accordance with the terms of this Privacy Policy. If we change our Privacy Policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it. Any changes to our Privacy Policy will be effective immediately following the posting of such changes to the Website. You agree to review our Privacy Policy from time to time and agree that any use by you of the Website after changes to our Privacy Policy shall constitute your acceptance of all such changes. This Privacy Policy was last modified on October 01, 2020. Please also review our Terms of Use for other terms and conditions governing your use of the Website and our products and services.</p>
			
			<h3 class="">DEFINITIONS</h3>
			<p>“Cookies” means small files sent to your browser from a web server and stored in your computer.</p>
			<p>“Information of a Non-Personal Nature” means any non-confidential, non-proprietary information derived from your connection to the Website, such as your Internet browser, domain name and referrer link.</p>
			<p>“Personal Information” means personally-identifiable information including, without limitation, your name, street address, telephone number and e-mail address.</p>
			
			<h3 class="">INFORMATION OF A NON-PERSONAL NATURE</h3>
			<p>As a general policy, with the exception of IP addresses, no Personal Information is automatically collected from visitors to the Website. Pizzaiolo may gather and analyze IP addresses and certain Information of a Non- Personal Nature regarding website usage by visitors to the Website. Such data is used in an aggregate form to assist Pizzaiolo in determining general usage patterns and to administer, diagnose problems with, and fine tune the layout of the Website. We may share nonpersonal, summary, or aggregate customer data (all of which is not Personal Information) with partners and other third parties at our discretion.</p>

			<h3 class="">COOKIES</h3>
			<p>Pizzaiolo may use Cookies to store and sometimes track information about your use of the	Website. In addition to improving the general layout of the Website, Cookies allow us to customize	the Website to each visitor’s individual preferences. Although most web browsers automatically	accept Cookies, you can usually change your browser to prevent you from receiving Cookies or to	notify you whenever you are sent a Cookie so that you may decide whether or not to accept it. If	you decide not to accept a Cookie, you can still enjoy all of the features of the Website.</p>

			<h3 class="">COLLECTION, USE AND DISCLOSURE OF PERSONAL INFORMATION</h3>
			<p>In certain portions of the Website, certain Personal Information may be voluntarily and knowingly provided to us by visitors to the Website. When entering a contest or requesting franchise information, for example, we will ask you for your name, e-mail address, mailing address, telephone number, as well as certain other information that may be Personal Information.</p>
			<p>Pizzaiolo shall only collect Personal Information of visitors to the Website with prior notification and shall use all commercially reasonable efforts to protect your Personal Information against theft,	loss, or unauthorized access. If you do not want us to have access to your Personal Information,	please do not provide it while using the Website. When you do provide Personal Information,	you are authorizing us to use it in accordance with the terms of this Privacy Policy and any other	applicable terms, including your right to limit our use of the Personal Information (see “Who to	Contact” below).</p>
			<p>We collect Personal Information for the purpose of understanding our visitor base, collecting feedback, carrying out contests, replying to inquiries by e-mail, and _. Pizzaiolo may use Personal	Information for the above-noted purpose to the extent such use by Pizzaiolo is explained to	visitors when the information is voluntarily and knowingly provided to Pizzaiolo. We may also	match your Personal Information that you provide to us on the Website to information contained	in our database. Your Personal Information may also be used by Pizzaiolo to contact you regarding	other products or services which may be of interest to you (including those that we may offer jointly with other companies), provided we have obtained your consent in advance.</p>
			<p>We will not give, sell, rent, or loan any of your Personal Information to any third party (with the exception of third parties performing functions on our behalf who have an obligation to keep your information completely confidential, or a third party who buys our business) unless you have authorized us to do so.</p>
			<p>Pizzaiolo reserves the right to access and/or disclose Personal Information where required to comply with applicable laws or lawful government requests or, in Pizzaiolo reasonable opinion, to operate the Website properly and securely, or to protect Pizzaiolo or visitors to the Website.	Pizzaiolo, acting reasonably, shall attempt to obtain the prior consent of the individual to whom	such Personal Information relates prior to disclosure to third parties.</p>

			<h3 class="">A NOTE TO PARENTS</h3>
			<p>Pizzaiolo is very sensitive to privacy issues and is committed to protecting the online privacy of	children and making the Internet safe for our users. As a result, no Personal Information should	be submitted to or posted on the Website by children under the age of 13 without their parent or	guardian’s permission. In addition, if a user younger than 13 wishes to send us Personal Information,	he or she must first give us his or her parent’s or guardian’s e-mail address so that we can obtain	their permission or have the child’s parent or guardian consent on his or her behalf. No Personal	Information will knowingly be accepted from a child under 13 before this permission is obtained. Be	assured that Pizzaiolo will not condition a child’s participation in any Website activity on the child’s	disclosure of more Personal Information than is reasonably necessary to participate in that activity</p>
			<p>If your child has already provided us with Personal Information, you may ask to see this information for the purpose of correcting it, or ask us to delete this information from our records entirely (see “Who to Contact” below.)</p>

			<h3 class="">WHO TO CONTACT</h3>
			<p>We take privacy concerns seriously and welcome your feedback. If you have questions, comments or concerns about our Privacy Policy, you can email us at customercare@pizzaiolo.ca. You can also send us mail to:</p>
			<p><b>Pizzaiolo Gourmet Pizza • 2375 Tedlo Street, Unit 5, Mississauga, ON L5A 3W7</b></p>

		</div>
		
	</div>