<% meta title: "Pizzaiolo | Community Programs",
     description: "At Pizzaiolo, we believe in giving back and supporting our extended families in our community through lunch programs and helping fight hunger and poverty.",
     keywords: "Pizzaiolo, School Lunch Programs, Feed Ontario, community support"
%>

<section class="">
		<div class="container">
			<%= render(:partial => 'common/title', 
				locals: { title: "SCHOOL LUNCH PROGRAM", content: "" }
			) %>
		</div>
	</section>
	
	<div class="page-background" style="background-image: url('/assets/new_design/GR19020_Pizzaiolo_Process-4943.jpg'); background-repeat: no-repeat; background-size: cover;"></div>
	
	<div class="container">
		<!--<div class="row careers-content">
			 <div class="col-12 sub-block text-center">
				<h2 class="">SCHOOL LUNCH PROGRAM</h2>
			</div> 
		</div> -->
		
		<div class="margin-top-20">
			<div class="row">
				<div class="col-12 col-md-12">
					<%# community-page-title class for page title %>
					<h3>Better quality pizza makes happier parents (and kids).</h3>
					<p class="regular-p">At Pizzaiolo, we are firm believers in contributing to our extended family - our community. We have been working with schools since our beginnings in 2000, and take great pride in serving only great tasting, authentic pizzas.</p>
					<h3>Pizzaiolo uses only top quality ingredients.</h3>
					<p class="regular-p">Kids love pizza and while it is absolutely a great treat, we know parents are always concerned about their child’s nutrition.   We are parents too.   At Pizzaiolo all our pizzas are made with our own fresh Pizzaiolo tomato sauce and dough made daily in house.  Nothing is frozen.  Toppings are hand-cut using only top quality ingredients.</p>
					<p class="regular-p">All our pizzas are made in a nut-free zone and we take every precaution to avoid any cross-contamination.</p>
					<p class="regular-p">Our Pizzaiolos (Pizza Makers), take all dietary restrictions into consideration.  In addition to meat and cheese pizzas, we also offer vegetarian, vegan and gluten-free options to ensure all kids can participate in the fun of Pizza Day.</p>
					<h3>We will work within your budget to design your program.</h3>
					<p class="regular-p">At Pizzaiolo we offer a variety of delicious specialty pizzas as well as 2 and 3 topping ‘make your own’ selections.  Because we believe strongly that the quality and taste of Pizzaiolo offers incredible value, we do not typically discount our product.  The only exception is in support of School and Community programs.  We will work within your budget to design a program that allows you to cost effectively offer great tasting, authentic pizza to your students.</p>
				</div>
				<%# <div class="col-12 col-md-6 text-center">
					<img class="about-content-img" src="/assets/community_involvement/victoria.jpg" alt="Victoria">
				</div> %>
			</div>
			<div class="row careers-content">
				<div class="col-12  text-center">
					<h2 class="school-program-title">Pizzaiolo School Program Pizzas</h2>
				</div>
				
				<div class="col-12 col-sm-6 col-md-4">
					<div class="topping-cards">
						<div class="card-image">
							<img class="" src="/assets/new_design/Cheese.jpg" alt="Cheese">
						</div>
						<h3>Cheese</h3>
						<p class="regular-p">Topped with mozzarella cheese and made with our signature Pizzaiolo Tomato Sauce.</p>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4">
					<div class="topping-cards">
						<div class="card-image">
							<img class="" src="/assets/new_design/Pepperoni.jpg" alt="Pepperoni">
						</div>
						<h3>Pepperoni</h3>
						<p class="regular-p">Our Pepperoni pizza is generously topped with pepperoni, mozzarella cheese and made with our signature Pizzaiolo tomato sauce.</p>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4">
					<div class="topping-cards">
						<div class="card-image">
							<img class="" src="/assets/new_design/Veggie.jpg" alt="Veggie">
						</div>
						<h3>Veggie</h3>
						<p class="regular-p">Pizzaiolo offers a wide selection of delicious vegetarian options that can be customized to meet your needs.</p>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4">
					<div class="topping-cards">
						<div class="card-image">
							<img class="" src="/assets/new_design/Vegan.jpg" alt="Vegan">
						</div>
						<h3>Vegan</h3>
						<p class="regular-p">Pizzaiolo offers a range of delicious Vegan selections.</p>
					</div>
				</div>

				<div class="col-12 col-sm-6 col-md-4">
					<div class="topping-cards">
						<div class="card-image">
							<img class="" src="/assets/new_design/Gluten-Free.jpg" alt="Gluten-Free">
						</div>
						<h3>Gluten-Free</h3>
						<p class="regular-p">All our pizzas are available with Gluten-free dough and a wide selection of gluten-free toppings.</p>
					</div>
				</div>



				<div class="col-12">
					<div class="text-center hidden-phone margin-top-20 text-center">
						<a class="button default half centered margin-top-20" href="mailto:info@pizzaiolo.ca">REQUEST INFO</a>
					</div>
				</div>
			</div>
		</div>

	</div>