.page-header

	h1 Edit Garlic Bread
	
	p.lead From here you can edit an existing garlic bread to show up in the ordering system and throughout the site.

= render(:partial => 'admins/garlic_breads/form')