.page-header

	h1 Create Garlic Bread
	
	p.lead From here you can create a new Garlic Bread to show up in the ordering system and throughout the site.

= render(:partial => 'admins/garlic_breads/form')