.row.product_display.pizza_preset data-pizza-category-id="#{pizza_preset_pizza_category_id}" data-subcategories="#{ if pizza_preset.spicy? then 'spicy ' end }#{ if pizza_preset.pizzaiolo_favourites? then 'pizzaiolo-favourites ' end }#{if pizza_preset.customer_favourites? then 'customer-favourites' end }" style="#{if pizza_preset.pizza_category.name == "Create Your Own Pizza" then 'display:none;' end}"