.page-header

	h1 Create Discount code filter
	
	p.lead From here you can create a new Discount code filter to show up in the ordering system and throughout the site.

= render(:partial => 'admins/discount_code_filters/form')