<!--Footer Start-->
<section class="greenborder"></section>
<div class=" copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
          <h2>pizzaiolo</h2>
          <h6>THE PIZZA MAKER'S PIZZA</h6>
          <p>Copyright © <%= Date.today.year %> Pizzaiolo</p>
        </div>
    </div>
  </div>
</div>
<!--Footer End--> 
