<div id="pizza-welcome-message" class="container zero-contact-message">
  <div class="zero-header">
    <div class="zero-title">INTRODUCING</div>
    <div id="close-btn-welcome-popup">
      <img src="/assets/new_design/popup-close.svg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="zero-contact-content">Zero Contact Delivery & PICKUP</div>
      <div class="zero-description">
        All delivery and pickup orders are now <span>contactless</span> to help keep everyone <span>safe</span> and <span>healthy</span>. Please choose to <span>pay online</span> for a smooth contactless experience. All the orders paid online will be contactless be delivered contactless. Thank you!
        <!--All of our <span>delivery</span> and <span>pickup</span> orders are now <span>contactless</span> to help keep everyone healthy. Please choose to pay <span>online</span> to ensure you receive our <span>contactless</span> service. Thank you!-->
      </div>
      <div class="zero-contact-exit-btn">
        <a href="javascript:void(0);" id="close-btn-welcome-popup" class="btn-green">continue</a>
      </div>
    </div>
  </div>
</div>

<!-- <div id="pizza-welcome-message" class="container">
  <div class="row old-new-logo-header">
    <div class=""><img src="/assets/new_design/old-logo.png" alt="" class="old-logo"></div>
    <div class="mobile-point"><img src="/assets/new_design/old-to-new-version.png" alt="" class="old-to-new"></div>
    <div class=""><img src="/assets/new_design/new-logo.png" alt="" class="new-logo"></div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="welcome-note">WE HAVE A FRESH NEW LOOK.<br>OUR PIZZA IS STILL GREAT.</div>
      <div class="welcome-exit-btn">
        <a href="javascript:void(0);" id="close-btn-welcome-popup" class="btn-green">continue</a>
      </div>
    </div>
  </div>
</div> -->